form label{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 20px;
}

.wrap_btn{
    display: flex;
    gap: 15px;
}

.submit{
    display: flex;
    justify-content: center;
}